{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:import/errors",
    "prettier",
    "prettier/babel",
    "prettier/standard"
  ],
  "plugins": [
    "babel",
    "import",
    "standard"
  ]
}